* { padding: 0; margin: 0; }

body {
  background-color: #1F1F1F;
  color: #FEFEFE;
  font-family: 'Tinos', serif;
}

.all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 0px;
}

a {
  color: inherit;
}

.name {
  font-size: 20px;
  grid-column: 2/5;
  margin-top: 30vh;
  word-spacing: 5px;
}

.description {
  grid-column: 2/5;
  word-spacing: 5px;
}

.line {
  margin-top: 5px;
  grid-column: 2/3;
  width: 60px;
  height: 5px;
  background-color: #128fa8;
}

.buttons {
  grid-column: 2/5;
  word-spacing: 10px;
}

.b1 {
  text-decoration: none;
  background-color: none;
}

.b2 {
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 30px;
  text-decoration: none;
  background-color: none;
}

.b3 {
  text-decoration: none;
  background-color: none;
}

.email {
  display: inline;
  display: none;
}
